<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <denyUrlSequences>
                    <add sequence="/pages" />
                </denyUrlSequences>
            </requestFiltering>
        </security>
        <httpErrors errorMode="Custom">
            <error statusCode="404" subStatusCode="5" path="/ErrorPages/40405.html" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
